body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Georgia', serif;
}

.publication-authors {
    font-family: 'Georgia', serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /* color: #4286f4; */
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
}
.cardabstract {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  font-size: 20px;
  background-color: rgb(221, 219, 219);
  padding: 20px;
  
  border-radius: 10px;
}
.im_caption {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  font-size: 20px;
  background-color: rgb(221, 219, 219);
  padding: 20px;
  
  border-radius: 10px;
}
.cardabstract:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.gallery-container {
  position: relative;
  overflow: visible;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
}

/* .image-gallery {
  display: inline-block;
  animation: slide 10s linear infinite; 
} */

/* .image-gallery img {
  width: auto;
  height: 100px; 
  margin-right: 10px; 
} */
.image-gallery img {
  width: auto;
  height: 100px; /* Adjust based on your preference */
  margin-right: 10px; /* Adjust spacing between images */
  transition: transform 0.5s ease; /* Smooth transition for zoom effect */
  cursor: pointer; /* Changes cursor to indicate the image can be interacted with */
}

.image-gallery img:hover {
  transform: scale(4.5); /* Adjust the scale value to control the zoom level */
  z-index: 100; /* Ensure the zoomed image is above others */
}

.line-between {
  height: 2px; /* Line thickness */
  background-color: #bebdbd; /* Line color */
  width: 100%; /* Line width */
}

@keyframes slide {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(-50%); /* Adjust based on content width */
  }
}
.vertical-gallery {
  position: relative;
  top: 0;
  bottom: 0;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  animation: slideVertical 10s linear infinite;
}

.vertical-gallery img {
  width: 100px; /* Adjust as needed */
  margin-bottom: 15px;
  cursor: pointer;
}

@keyframes slideVertical {
  0% { top: 100%; }
  100% { top: -100%; }
}

.horizontal-gallery {
  display: none;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  top: 20px; /* Adjust as needed */
  width: 100%;
}

.horizontal-gallery img {
  width: 100px; /* Adjust as needed */
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

/* Add keyframe animations for horizontal images appearing one after another */
@keyframes appearSequentially {
  from { opacity: 0; }
  to { opacity: 1; }
}

.row {
  margin-bottom: -2px;
  display: flex;
  justify-content: space-between;
}
.container{
  display: flex;
  flex-direction: column;
  padding: auto;
  align-items: center;
  justify-content: center;

}
 .image-container {
  text-align: center; /* Centers the image label */
  margin-top: 10px; /* Space between the image and the label */
}
.image-label{
  font-size: 1.25rem; /* Adjust font size as needed */
  color: #000000; /* Adjust font color as needed */
  margin-top: 5px; /* Space between the image and the label */
}
.image-label-vert {
  transform: rotate(-90deg); /* Rotates label 90 degrees counter-clockwise */
  font-size: 1.0em; /* Adjust as needed */
  width: 50px; /* Define a width to allow the text to wrap and become multiline */
  line-height: 1.2; /* Adjust line height for better readability */
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0px;
}
